////////////////////////////////////////////////////////////////////////
// THEME SETUP
////////////////////////////////////////////////////////////////////////


// Fonts (Include fonts here)
$font-primary: 'Gilroy', sans-serif

// Font weights
$medium: 500
$semi-bold: 600
$bold: 700
$extra-bold: 800
$black: 900

// Colors (Define theme main colors)
$color-primary: #222222
$color-secondary: #ffffff
$color-muted-dark: rgba(34, 34, 34, 0.2)
$color-muted-white: rgba(255, 255, 255, 0.1)
$color-muted-less-white: rgba(255, 255, 255, 0.3)
$color-muted-less-hover-white: rgba(255, 255, 255, 0.7)

// Transitions (Define theme transitions)
$transition-fast: all 0.2s ease
$transition-medium: all 0.3s ease
$transition-slow: all 0.4s ease

// Font sizes (Define theme font sizes)
$body-font-size: 18px
$body-line-height: 1.66em

// Gradients
@mixin gradient-primary
	background: rgb(32,24,46)
	background: -moz-linear-gradient(-45deg, rgba(32,24,46,1) 0%, rgba(255,0,84,1) 0%, rgba(255,188,0,1) 100%)
	background: -webkit-linear-gradient(-45deg, rgba(32,24,46,1) 0%,rgba(255,0,84,1) 0%,rgba(255,188,0,1) 100%)
	background: linear-gradient(135deg, rgba(32,24,46,1) 0%,rgba(255,0,84,1) 0%,rgba(255,188,0,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0054', endColorstr='#ffbc00',GradientType=1 )

@mixin gradient-secondary
	background: rgb(32,24,46)
	background: -moz-linear-gradient(-45deg, rgba(21, 2, 56, 1) 0%, rgba(74, 19, 97,1) 100%)
	background: -webkit-linear-gradient(-45deg, rgba(21, 2, 56, 1) 0%,rgba(74, 19, 97,1) 100%)
	background: linear-gradient(135deg, rgba(21, 2, 56, 1) 0%,rgba(74, 19, 97,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20182e', endColorstr='#0d004b',GradientType=1 )

// Box shadows
$shadow-big: 0 0 50px 0 rgba(32, 24, 46, 0.2)
