// element floats and positioning
.fl-left
  float: left
.fl-right
  float: right !important
.fl-center
  margin-left: auto
  margin-right: auto
.fl-none
  float: none
.va-center
  position: relative
  top: 50%
  transform: translatey(-50%)

// element text align
.ta-left
  text-align: left
.ta-center
  text-align: center
.ta-right
  text-align: right

// float clear classes
.clear
  clear: both
.clearfix
  &:before, &:after
    content: ''
    display: table
  &:after
    clear: both

// Page container
#page-container
  overflow: hidden
  position: relative
// Image box
.img-box
  img
    display: block
    max-width: 100%
  &.img-box--full
    img
      width: 100%

// Text box
.text-box
  overflow: hidden
  >*
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

// Gradient border box
.gradient-box
  position: relative
  border-left: 10px solid rgba(255,0,84,1)
  border-right: 10px solid rgba(255,188,0,1)
  &:before, &:after
    content: ''
    position: absolute
    height: 10px
    width: calc(100% + 2px)
    left: -1px
    @include gradient-primary
  &:before
    top: 0
  &:after
    bottom: 0

body
  width: 100%
  overflow-x: hidden !important
  &.page--viewport
    height: 100vh
    width: 100vw
    overflow: hidden
