////////////////////////////////////////////////////////////////////////
// THEME TYPOGRAPHY
////////////////////////////////////////////////////////////////////////

body
  font-size: $body-font-size
  font-weight: $medium
  font-family: $font-primary
  letter-spacing: 0.5px
h1, h2, h3, h4, h5, h6
  font-weight: $extra-bold
h1
  font-size: 72px
  line-height: 1
h2
  font-size: 64px
  line-height: 1
h3
  font-size: 32px
h4
  font-size: 1em
h5
  font-size: 0.8em
h6
  font-size: 0.6em
p
  margin-top: 1em
  margin-bottom: 1em
  line-height: $body-line-height
a
  text-decoration: none

q
  font-size: 1.5em
blockquote
  font-style: italic
.font-lg
  font-size: 20px
.font-sm
  font-size: 16px
.font-xs
  font-size: 14px
.font-xxs
  font-size: 12px
