@import url("//hello.myfonts.net/count/374b70")

@font-face
  font-family: 'Gilroy'
  src: url('../fonts/374B70_1_0.eot')
  src: url('../fonts/374B70_1_0.eot?#iefix') format("embedded-opentype"), url('../fonts/374B70_1_0.woff2') format("woff2"), url('../fonts/374B70_1_0.woff') format("woff"), url('../fonts/374B70_1_0.ttf') format("truetype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Gilroy'
  src: url('../fonts/374B70_0_0.eot')
  src: url('../fonts/374B70_0_0.eot?#iefix') format("embedded-opentype"), url('../fonts/374B70_0_0.woff2') format("woff2"), url('../fonts/374B70_0_0.woff') format("woff"), url('../fonts/374B70_0_0.ttf') format("truetype")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Gilroy'
  src: url('../fonts/374B70_3_0.eot')
  src: url('../fonts/374B70_3_0.eot?#iefix') format("embedded-opentype"), url('../fonts/374B70_3_0.woff2') format("woff2"), url('../fonts/374B70_3_0.woff') format("woff"), url('../fonts/374B70_3_0.ttf') format("truetype")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Gilroy'
  src: url('../fonts/374B70_2_0.eot')
  src: url('../fonts/374B70_2_0.eot?#iefix') format("embedded-opentype"), url('../fonts/374B70_2_0.woff2') format("woff2"), url('../fonts/374B70_2_0.woff') format("woff"), url('../fonts/374B70_2_0.ttf') format("truetype")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Gilroy'
  src: url('../fonts/374B70_4_0.eot')
  src: url('../fonts/374B70_4_0.eot?#iefix') format("embedded-opentype"), url('../fonts/374B70_4_0.woff2') format("woff2"), url('../fonts/374B70_4_0.woff') format("woff"), url('../fonts/374B70_4_0.ttf') format("truetype")
  font-weight: 900
  font-style: normal
