//- WORKS ITEM /////////////////////////////////////////////////////////////////

mixin works-item(TitleLine1, TitleLine2, Text, Url, ThumbnailUrl, thumbnailAlt, ThumbnailUrlMobile, thumbnailAltMobile, Client, Year, Works)
	.works__item.fp-auto-height-responsive
		.grid
			.row.row--inline-middle
				.col.xs-12-12.img-container--mobile
					.img-container
						.gradient-box
						a(href!= Url target="_blank").img-box.img-box--full
							img(src!= ThumbnailUrlMobile alt= thumbnailAltMobile)
						.works__details
							.details__item
								span Klientas
								span= Client
							.details__item
								span Metai
								span= Year
							.details__item
								span Atlikti darbai
								span= Works
							.clear
				.col.xl-4-12.xl-push-left-1-12.lg-5-12.md-6-12
					.text-box
						h2
							span.animation-container--works
								span.animation-item--works(style="transition-delay: 100ms;")!= TitleLine1
							span.animation-container--works
								span.animation-item--works(style="transition-delay: 150ms;")!= TitleLine2
						p
							span.animation-container--works
								span.animation-item--works(style="transition-delay: 200ms;")!= Text
						- var workUrl  = Url;
						if workUrl === ''

						else if workUrl === 'coming'
							.animation-btn-container
								a(href="").btn.btn--small.btn--disabled Jau greitai
						else
							.animation-btn-container
								a(href!= Url target="_blank").btn.btn--small Peržiūrėti darbą
				.col.lg-6-12.md-6-12
					.img-container
						.gradient-box
						a(href!= Url target="_blank").img-box.img-box--full
							img(src!= ThumbnailUrl alt= thumbnailAlt)
						.works__details
							.details__item
								span Klientas
								span= Client
							.details__item
								span Metai
								span= Year
							.details__item
								span Atlikti darbai
								span= Works
							.clear


//- WORKS ANCHORS //////////////////////////////////////////////////////////////

mixin works-menu(AnchorTitle, Number)
	li(data-menuanchor!= AnchorTitle)
		a(href!= "#" + AnchorTitle)!= Number

//- CAPABILITIES SLIDER ITEM ///////////////////////////////////////////////////

mixin capabilities-item(TitleLine1, TitleLine2, Text, SliderNumber, Tag1, Tag2, Tag3, Tag4, Tag5, Tag6)
	.capabilities__item.fp-auto-height-responsive
		.grid
			.row.row--inline-middle
				.col.xl-5-12.xl-push-left-1-12.md-6-12
					.text-box
						h2
							span.animation-container--services
								span.animation-item--services(style="transition-delay: 100ms")!= TitleLine1
							br
							span.animation-container--services
								span.animation-item--services(style="transition-delay: 150ms")!= TitleLine2
						p
							span.animation-container--services
								span.animation-item--services(style="transition-delay: 200ms")!= Text
				.col.xl-5-12.lg-5-12.md-6-12
					.gradient-box
						ul
							- var Tag1  = Tag1;
							if Tag1 === ''
							else
								li= Tag1
							- var Tag2  = Tag2;
							if Tag2 === ''
							else
								li= Tag2
							- var Tag3  = Tag3;
							if Tag3 === ''
							else
								li= Tag3
							- var Tag4  = Tag4;
							if Tag4 === ''
							else
								li= Tag4
							- var Tag5  = Tag5;
							if Tag5 === ''
							else
								li= Tag5
							- var Tag6  = Tag6;
							if Tag6 === ''
							else
								li= Tag6
						.slider-number= SliderNumber
//- CAPABILITIES SLIDER NAV ITEM ///////////////////////////////////////////////
mixin capabilities-nav-item(Number, AnchorTitle, Title, Transition)
	li(data-menuanchor!= AnchorTitle)
		a(href!= "#" + AnchorTitle, style!= Transition)
			.item-number!= Number
			.item-content!= Title
//- MIXIN HEAD /////////////////////////////////////////////////////////////////
mixin head(Title, Description, Canonical)
	head
		//- Title
		title!= Title

		//- Description
		meta(name="description" content!=Description)

		//- Meta
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- meta(name="robots" content="noindex,nofollow")
		link(rel="canonical" href!= Canonical)

		//- Favicon
		include ../structure/structure_favicon

		//- Facebook
		meta(property='og:locale', content='lt_LT')
		meta(property='og:type', content='website')
		meta(property='og:title', content='VSBL Web Studio | UX, UI & Web development studija')
		meta(property='og:description', content='Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti.')
		meta(property='og:url', content='https://vsbl.lt/')
		meta(property='og:site_name', content='VSBL agency')
		meta(property='fb:app_id', content='1739287756320420')
		meta(property='og:image', content='http://vsbl.lt/assets/img/og-image.png')
		meta(property='og:image:width', content='1200')
		meta(property='og:image:height', content='630')

		//- Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-K6CM9GL');
		//- End Google Tag Manager


		//- Hotjar Tracking Code for https://vsbl.lt
		//- script.
		//- 	(function(h,o,t,j,a,r){
		//- 	h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		//- 	h._hjSettings={hjid:1132743,hjsv:6};
		//- 	a=o.getElementsByTagName('head')[0];
		//- 	r=o.createElement('script');r.async=1;
		//- 	r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		//- 	a.appendChild(r);
		//- 	})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

		//- Font
		//
			@license
			MyFonts Webfont Build ID 3623792, 2018-08-18T03:59:41-0400
			The fonts listed in this notice are subject to the End User License
			Agreement(s) entered into by the website owner. All other parties are 
			explicitly restricted from using the Licensed Webfonts(s).
			You may obtain a valid license at the URLs below.
			Webfont: Gilroy-SemiBold by Radomir Tinkov
			URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
			Webfont: Gilroy-Medium by Radomir Tinkov
			URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium/
			Webfont: Gilroy-ExtraBold by Radomir Tinkov
			URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold/
			Webfont: Gilroy-Bold by Radomir Tinkov
			URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
			Webfont: Gilroy-Black by Radomir Tinkov
			URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/black/
			License: https://www.myfonts.com/viewlicense?type=web&buildid=3623792
			Licensed pageviews: 10,000
			Webfonts copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
			© 2018 MyFonts Inc

		//- Stylesheets
		link(rel="stylesheet" href="assets/css/style.css")

		//- Inline styling. Uncomment it when deploying
		//- include ../global/global_style

//- MIXIN HEADER ///////////////////////////////////////////////////////////////
mixin header(Active1, Active2, Active3, Active4)
	header
		.grid.grid--full
			.row
				.col.xs-12-12
					a.logo(href="/")
						img(src="assets/img/logo.svg" alt="VSBL Web Studio logotipas" title="VSBL Web Studio logotipas")
					nav.nav--desktop
						ul
							li(class!=Active1): a(href="https://vsbl.lt/darbai") Darbai
							li(class!=Active2): a(href="https://vsbl.lt/internetiniu-svetainiu-kurimas") Galimybės
							li(class!=Active3): a(href="https://vsbl.lt/apie-mus") Apie mus
							li(class!=Active4): a(href="https://vsbl.lt/kontaktai") Kontaktai
							//- li: a(href="https://vsbl.lt/kontaktai#form").nav__cta Pradėkime projektą
					button#burger-menu-btn
						span
						span
					nav.nav--mobile
						ul
							li(class!=Active1): a(href="https://vsbl.lt/darbai") Darbai
							li(class!=Active2): a(href="https://vsbl.lt/internetiniu-svetainiu-kurimas") Galimybės
							li(class!=Active3): a(href="https://vsbl.lt/apie-mus") Apie mus
							li(class!=Active4): a(href="https://vsbl.lt/kontaktai") Kontaktai
						.social-links
							ul
								li
									a(href="https://www.facebook.com/Vsblwebstudio/" target="_blank")
										include ../structure/svg/svg_facebook
								li
									a(href="https://dribbble.com/vsblwebstudio" target="_blank")
										include ../structure/svg/svg_dribbble
						.lines
							span
							span
