.btn
	display: inline-block
	font-weight: $bold
	color: $color-primary
	position: relative
	&.btn--inverse
		color: $color-secondary
	&.btn--small
		padding: 8px 0
	&.btn--large
		padding: 8px 0
		font-size: 24px
		font-weight: $extra-bold
		&:before, &:after
			height: 4px
	&:before
		content: ''
		position: absolute
		height: 3px
		width: 100%
		left: 0
		bottom: 0
		@include gradient-primary
		transform-origin: 0 0
		transform: scale3d(0, 1, 1)
		transition: transform 500ms cubic-bezier(.6,.24,.02,.99)
	&:after
		content: ''
		position: absolute
		height: 3px
		width: 100%
		right: 0
		bottom: 0
		@include gradient-primary
		transform-origin: 100% 0
		transition: transform 500ms cubic-bezier(.6,.24,.02,.99) 100ms
	&:hover
		&:after
			transform: scale3d(0, 1, 1)
			transition: transform 500ms cubic-bezier(.6,.24,.02,.99)
		&:before
			transform: scale3d(1, 1, 1)
			transition: transform 500ms cubic-bezier(.6,.24,.02,.99) 100ms
	&.btn--disabled
		pointer-events: none
		&:after
			background: $color-muted-dark

	&.btn--xl
		font-size: 24px
		font-weight: $extra-bold
		padding: 36px 74px
		border-left: 6px solid rgba(255,0,84,1)
		border-right: 6px solid rgba(255,188,0,1)
		&:before, &:after
			content: ''
			position: absolute
			height: 6px
			width: 100%
			left: 0
			@include gradient-primary
		&:before
			top: 0
		&:after
			bottom: 0


.animation-btn-container
	overflow: hidden
	.btn
		opacity: 0
		transform: translate3d(0, 100%, 0)
		transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 1000ms cubic-bezier(.6,.24,.02,.99) 400ms
		&.animation-start
			opacity: 1
			transform: translate3d(0, 0, 0)
