.mouse-dot
	position: fixed
	width: 14px
	height: 14px
	border-radius: 50%
	border-width: 2px
	border-style: solid
	transform: translate3d(-50%, -50%, 0)
	z-index: 21
	transition: opacity 200ms cubic-bezier(.6,.24,.02,.99), width 200ms cubic-bezier(.6,.24,.02,.99), height 200ms cubic-bezier(.6,.24,.02,.99)
	pointer-events: none
	&.hover
		width: 34px
		height: 34px
	&.border
		height: 4px
		width: 4px
		border-width: 2px
	&.down
		height: 24px
		width: 24px
.page--dark
	.mouse-dot
		border-color: $color-secondary
.page--white
	.mouse-dot
		border-color: $color-primary
		&.inverse
			border-color: $color-secondary

@media not all and (min-resolution: 0.001dpcm)
	@supports (-webkit-appearance: none) and (stroke-color: transparent)
		.mouse-dot
			transition: opacity 200ms cubic-bezier(.6,.24,.02,.99), width 200ms cubic-bezier(.6,.24,.02,.99), height 200ms cubic-bezier(.6,.24,.02,.99)
