
#page-transition-in
	position: fixed
	height: 0
	width: 0
	top: 0
	left: 0
	z-index: 10
	overflow: visible
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		@include gradient-primary
		transform: scale3d(0, 1, 1)
		transition: transform 700ms ease
		transform-origin: 0% 0%
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		@include gradient-secondary
		transform: scale3d(0, 1, 1)
		transition: transform 700ms ease 200ms
		transform-origin: 0% 0%
	&.page-transition-in--start
		&:before, &:after
			transform: scale3d(1, 1, 1)

#page-transition-out
	position: fixed
	height: 0
	width: 0
	top: 0
	left: 0
	z-index: 10
	overflow: visible
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		@include gradient-primary
		transform: scale3d(1, 1, 1)
		transition: transform 700ms ease 200ms
		transform-origin: 100% 0%
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		@include gradient-secondary
		transform: scale3d(1, 1, 1)
		transition: transform 700ms ease
		transform-origin: 100% 0%
	&.page-transition-out--finish
		&:before, &:after
			transform: scale3d(0, 1, 1)
