.animation-container, .animation-container--works, .animation-container--about, .animation-container--cta, .animation-container--services
	display: inline-block
	position: relative
	overflow: hidden
	margin-bottom: -10px
	.animation-item, .animation-item--works, .animation-item--about, .animation-item--cta, .animation-item--services
		position: relative
		display: inline-block
		transform: translate3d(0, 100%, 0)
		transform-origin: 0 0
		opacity: 0
		transition-timing-function: cubic-bezier(.6,.24,.02,.99)
		transition-duration: 1000ms
		transition-property: transform, opacity
		&.animation-start
			transform: translate3d(0, 0, 0)
			opacity: 1
