#burger-menu-btn
	float: right
	display: none
	margin-top: 20px
	width: 30px
	height: 30px
	background: none
	border: none
	padding: 0
	cursor: pointer
	position: relative
	z-index: 6

	span
		display: block
		height: 2px
		width: 20px
		background: $color-secondary
		margin: 6px 0
		position: relative
		transform-origin: 50% 50%
		transition: transform 400ms ease, background 300ms ease 250ms
		&:first-child
			transform: translate3d(3px, 0, 0)
		&:last-child
			transform: translate3d(8px, 0, 0)
	&.burger-menu-btn--open
		span
			// background: $color-primary
			transition: transform 400ms ease, background 300ms ease
			&:first-child
				transform: translate3d(9px, 4px, 0) rotate(45deg)
			&:last-child
				transform: translate3d(9px, -4px, 0) rotate(-45deg)

.page-dim
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $color-primary
	z-index: 2
	opacity: 0
	visibility: hidden
	transition: all 700ms ease 500ms
	&.mobile-nav--open
		opacity: 0.6
		visibility: visible
		transition: all 700ms ease

nav.nav--mobile
	position: fixed
	z-index: 5
	height: 350px
	width: 100%
	top: 0
	right: 0
	visibility: hidden
	transition: all 0s ease 900ms
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 350px
		@include gradient-secondary
		transform-origin: 0 0
		transform: scale3d(1, 0, 1)
		transition: transform 500ms ease 400ms
	&.mobile-nav--open
		visibility: visible
		transition: all 0s ease
		&:before
			transform: scale3d(1, 1, 1)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99)
		.lines
			span
				transform: scale3d(1, 1, 1)
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99)
		>ul
			opacity: 1
			visibility: visible
			transition: all 0s ease
			li
				a
					transform: translate3d(0, 0, 0)
					opacity: 1
				@for $i from 1 through 4
					&:nth-child(#{$i})
						a
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) (200ms + $i*50ms), opacity 400ms ease (400ms + $i*50ms)
		.social-links
			ul
				li
					&:first-child
						a
							transform: translate3d(0, 0, 0)
							opacity: 1
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 350ms, opacity 400ms ease 550ms
					&:last-child
						a
							transform: translate3d(0, 0, 0)
							opacity: 1
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms
	>ul
		opacity: 0
		visibility: hidden
		list-style: none
		padding: 0
		margin: 0
		position: relative
		margin-top: 80px
		transition: all 0s ease 700ms
		z-index: 4
		li
			text-align: right
			overflow: hidden
			margin: 30px 20px
			&.active
				a
					&:after
						content: ''
						position: absolute
						bottom: 2px
						left: 0
						width: 100%
						height: 3px
						@include gradient-primary
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
			a
				display: inline-block
				font-size: 24px
				position: relative
				padding: 4px 0
				font-weight: $extra-bold
				color: $color-secondary
				transform: translate3d(0, 100%, 0)
				opacity: 0
			@for $i from 1 through 4
				&:nth-child(#{$i})
					a
						transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) (150ms - $i*50ms), opacity 400ms ease (350ms - $i*50ms)
	.social-links
		position: absolute
		bottom: 20px
		left: 20px
		z-index: 4
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: inline-block
				overflow: hidden
				margin-right: 20px
				a
					display: block
					position: relative
					transform: translate3d(0, 100%, 0)
					opacity: 0
					line-height: 1
				&:first-child
					a
						transition: transform 1000ms cubic-bezier(.6,.24,.02,.99), opacity 400ms ease 200ms
				&:last-child
					a
						transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 50ms, opacity 400ms ease 250ms
	.lines
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		span
			position: absolute
			height: 100%
			width: 1px
			background: rgba(255,255,255,0.1)
			transform-origin: 0 0
			transform: scale3d(1, 0, 1)
			transition: transform 500ms ease 400ms
			&:first-child
				left: 33.3333%
			&:last-child
				left: 66.6666%

.page--white
	#burger-menu-btn
		span
			background: $color-primary
	nav.nav--mobile
		&:before
			background: $color-secondary
		ul
			li
				a
					color: $color-primary
		.social-links
			ul
				li
					a
						svg
							path
								fill: $color-primary
		.lines
			span
				// background: $color-prim
