@media (max-width: $grid-breakpoint-xl)
	// 1440px

	// ABOUT US PAGE
	section#clients h2.client-box-title.animation-start
		transform: rotate(-180deg) translate(55%, -13%)
	// END OF ABOUT US PAGE
@media (max-width: $grid-breakpoint-lg)
	// 1280px breakpoint

	// GENERAL
	h1
		font-size: 64px
	h2
		font-size: 48px
	.font-lg, section#index .index__content p, #contacts .contacts__content .text-box p, #page-404 .page-404__content p
		font-size: 18px
	// END OF GENERAL

	// INDEX PAGE
	// END OF INDEX PAGE

	// WORKS PAGE
	section#works .img-container .works__details .details__item
		&:nth-child(2)
			display: none
	// END OF WORKS PAGE

	// CAPABILITIES
	#capabilities-nav ul li a .item-number
		font-size: 56px
	#capabilities-nav ul li a .item-content
		font-size: 14px
	section#capabilities .gradient-box .slider-number
		font-size: 400px
		transform: translate3d(20%, -35%, 0)
	section#capabilities .gradient-box ul li
		font-size: 20px
		margin: 10px 30px
	section#capabilities .gradient-box
		padding: 50px 30px
	body.page--capabilities
		footer
			position: absolute
	// END OF CAPABILITIES

	// ABOUT US PAGE
	// END OF ABOUT US PAGE

	// CONTACT US PAGE
	body.page--contacts
		footer
			position: absolute
	// END OF CONTACT US PAGE

	// 404 PAGE
	// END OF 404 PAGE

@media (max-width: $grid-breakpoint-md)
	// 1024px breakpoint

	// GENERAL
	body, .grid .row.row--inline-top .col, .grid .row.row--inline-middle .col, .grid .row.row--inline-bottom .col
		font-size: 16px
	h1
		font-size: 56px
	h2
		font-size: 36px
	header nav.nav--desktop ul li a
		font-size: 14px
	.main-lines
		span
			&:first-child
				left: 33.3333%
				transform: none !important
			&:nth-child(2)
				left: 66.6666%
				transform: none !important
			&:last-child
				display: none
	.mouse-dot
		display: none
	body.page--viewport
		width: 100%
		height: auto
		overflow-y: auto
	main.main--full
		height: auto
	#page-404 .bg-text
		font-size: 400px
	// END OF GENERAL

	// INDEX PAGE
	// END OF INDEX PAGE

	// WORKS PAGE
	ul#works-menu
		display: none
	.works__mobile-content
		display: block
	.works__item
		margin-bottom: 180px
		&:last-child
			margin-bottom: 180px
		.row--inline-middle
			font-size: 16px !important
			>*
				display: block !important
				float: left !important
	section#works .img-container .works__details
		padding: 25px
		left: -50px
	section#works .img-container .works__details .details__item
		&:first-child, &:nth-child(2)
			display: none
	section#works .img-container .gradient-box
		width: 100%
		top: 20px
		right: -20px
	body.page--works
		footer
			position: absolute
	// END OF WORKS PAGE

	// CAPABILITIES PAGE
	.capabilities__mobile-content
		display: block
	#capabilities-nav
		display: none
	section#capabilities
		height: auto
		padding-bottom: 180px
		.capabilities__item
			margin-bottom: 180px
			&:last-child
				margin-bottom: 0
			.row--inline-middle
				font-size: 16px !important
				>*
					display: block !important
					float: left !important
	section#capabilities .capabilities__slider .gradient-box
		padding: 40px 20px
	section#capabilities .capabilities__slider .gradient-box ul li
		font-size: 18px
		margin: 10px 20px
	// END CAPABILITIES PAGE

	// ABOUT US PAGE
	.about__mobile-content
		display: block
	section#about
		padding-top: 0
	#about, #clients
		.row--inline-middle
			font-size: 16px !important
			>*
				display: block !important
				float: left !important
	section#about .team-slider-container .team-slider-nav
		padding: 25px
		left: -50px
	section#about .team-slider-container .gradient-box
		top: 20px
		left: 20px
	section#clients .client-box:before
		top: 20px
		left: 20px
	section#clients .client-box.animation-start h2
		transform: rotate(-180deg) translate(60px, -60px)
	section#clients .client-box .client-box__item
		// width: 25%
		// padding-top: 15%
	section#clients h2.client-box-title.animation-start
		display: none
	section#clients h2.heading-mobile
		display: block
	section#clients .client-box
		margin-bottom: 120px
	section#clients
		padding-bottom: 120px

	// END OF ABOUT US PAGE

	// CONTACT US PAGE
	#contacts .contacts__content .contacts-box
		padding: 60px
	#contacts .contacts__content .contacts-list li span:last-child
		font-size: 20px
	#contacts .contacts__content
		transform: none
		top: initial
		padding-top: 160px
	#contacts .contacts__content .contacts-box
		margin-top: 160px
	#contacts
		height: auto
		min-height: 100vh
		padding-bottom: 160px
	// END OF CONTACT US PAGE

	// 404 PAGE
	// END OF 404 PAGE

@media (max-width: $grid-breakpoint-sm)
	// 768px breakpoint

	// GENERAL
	h1
		font-size: 48px
	h2
		font-size: 28px
	.font-lg, section#index .index__content p, #contacts .contacts__content .text-box p, #page-404 .page-404__content p
		font-size: 16px
	header
		position: fixed
	header nav.nav--desktop
		display: none
	.grid
		padding-left: 20px
		padding-right: 20px
	header .logo
		margin-top: 20px
	body
		letter-spacing: 0
	footer .social-links ul
		padding: 0
	#burger-menu-btn
		display: block
	.btn.btn--large
		font-size: 20px
	.btn.btn--large:before, .btn.btn--large:after
		height: 3px
	#page-404 .bg-text
		font-size: 300px
	// END OF GENERAL

	// INDEX PAGE
	section#index .index__content h1, section#index .index__content p, .animation-btn-container
		width: 90%
		margin-left: auto
		margin-right: auto
	// END OF INDEX PAGE

	// WORKS PAGE
	.works__item
		.grid
			.row
				.col
					&.img-container--mobile
						display: block !important
						.img-container
							display: block
	.works__item
		.img-container
			display: none
		.gradient-box
			display: none
	section#works .img-container .works__details
		left: 20px
		bottom: -47px
	section#works .works__item .btn
		margin-top: 10px
	.works__item
		margin-bottom: 120px
	section#works .img-container .img-box, .works__mobile-content, section#works .works__item .text-box
		width: 90%
		margin-left: auto
		margin-right: auto
	section#works .works__item .text-box .animation-btn-container
		width: 100%
	.works__mobile-content
		padding-bottom: 100px
	// END OF WORKS PAGE

	// CAPABILITIES PAGE
	section#capabilities .gradient-box
		margin-top: 40px
	section#capabilities .gradient-box ul li
		font-size: 16px
	section#capabilities .gradient-box .slider-number
		transform: translate3d(0%, -35%, 0)
		right: 0
		font-size: 300px
	section#capabilities .capabilities__item
		margin-bottom: 120px
	.capabilities__mobile-content, section#capabilities .capabilities__item .text-box, section#capabilities .gradient-box
		width: 90%
		margin-left: auto
		margin-right: auto
	.capabilities__mobile-content
		padding-bottom: 100px
	// END OF CAPABILITIES PAGE

	// ABOUT US PAGE
	#about .text-box
		width: 90%
		margin: 0 auto 60px auto
	section#about .team-slider-container
		width: 90%
		margin: 0 auto
	section#about .team-slider-container .team-slider-nav
		left: -20px
	section#about
		padding-bottom: 160px
	section#clients h2.heading-mobile, .about__mobile-content
		width: 90%
		margin-left: auto
		margin-right: auto
	section#clients .client-box
		width: 90%
		margin-left: auto
		margin-right: auto
	section#clients .client-box .client-box__item
		width: 33.3333%
		padding-top: 25%
	section#clients .text-box
		width: 90%
		margin-left: auto
		margin-right: auto
	section#clients .client-box .client-box__item img
		max-height: 35px
	.about__mobile-content
		padding-bottom: 100px
	// END OF ABOUT US PAGE

	// CONTACT US PAGE
	#contacts .contacts__content .contacts-box
		padding: 50px
		display: block
	#contacts .contacts__content .contacts-list li span:last-child
		font-size: 18px
	#contacts .contacts__content .contacts-list li
		margin-right: 0
		display: block
		margin-bottom: 30px
		width: 100%
		&:last-child
			margin-bottom: 0
	#contacts .contacts__content .text-box, #contacts .contacts__content .contacts-box
		width: 90%
		margin-left: auto
		margin-right: auto
	#contacts .contacts__content .contacts-box
		margin-top: 100px
	// END OF CONTACT US PAGE

	// 404 PAGE
	// END OF 404 PAGE
@media (max-width: $grid-breakpoint-xs)
	// 568 breakpoint
	h1
		font-size: 38px
	// h2
	// 	font-size: 24px
	.main-lines
		span
			&:first-child
				left: 50%
			&:nth-child(2)
				display: none
			&:last-child
				display: none
	body.page--viewport
		height: auto
		overflow-y: auto
	.grid
		padding-left: 15px
		padding-right: 15px
	header .logo
		margin-top: 15px
	section#works .img-container .works__details
		display: none
	.works__item .grid .row .col.img-container--mobile
		margin-bottom: 20px
	nav.nav--mobile
		.lines
			span
				&:first-child
					left: 50%
				&:last-child
					display: none
	#page-404 .bg-text
		font-size: 200px

	// INDEX PAGE
	section#index .index__content h1, section#index .index__content p, .animation-btn-container
		width: 100%
	section#index .index__content
		transform: translatey(-50%)
	// END OF INDEX PAGE

	// WORKS PAGE
	section#works .img-container .img-box, .works__mobile-content, section#works .works__item .text-box
		width: 100%
	// END OF WORKS PAGE

	// CAPABILITIES PAGE
	.capabilities__mobile-content, section#capabilities .capabilities__item .text-box, section#capabilities .gradient-box
		width: 100%
	// END OF CAPABILITIES PAGE

	// ABOUT US PAGE
	#about .text-box
		width: 100%
	section#about .team-slider-container .gradient-box
		display: none
	section#about .team-slider-container
		width: 100%
	section#about .team-slider-container .team-slider-nav
		left: 10px
		bottom: -40px
		width: calc(100% - 20px)
	section#clients h2.heading-mobile, .about__mobile-content
		width: 100%
	section#clients .client-box
		width: 100%
	section#clients .client-box:before
		display: none
	section#clients .client-box .client-box__item
		width: 50%
	section#clients .text-box
		width: 100%
	// END OF ABOUT US PAGE

	// CONTACT US PAGE
	#contacts .contacts__content .text-box, #contacts .contacts__content .contacts-box
		width: 100%
	// END OF CONTACT US PAGE
