footer
	.grid.grid--full
		.row
			.col.xs-12-12
				.social-links
					ul
						li
							a(href="https://www.facebook.com/Vsblwebstudio/" target="_blank")
								include ../structure/svg/svg_facebook
						li
							a(href="https://dribbble.com/vsblwebstudio" target="_blank")
								include ../structure/svg/svg_dribbble

				.legal VSBL Web Studio &copy; 2014-<span></span>

.page-dim

//- Scripts
script(type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
script(type="text/javascript" src="assets/js/min/fullpage-min.js")
script(type="text/javascript" src="assets/js/min/slick-min.js")
script(type="text/javascript" src="assets/js/min/script-min.js")
script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-82780609-1')
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-82780609-1');
