header
	width: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 3
	.logo
		display: block
		float: left
		margin-top: 40px
		position: relative
		z-index: 6
		img
			display: block

	nav.nav--desktop
		float: right
		ul
			margin: 0
			padding: 20px 0 0 0
			list-style: none
			li
				display: inline-block
				padding: 0 23px
				a:not(.nav__cta)
					font-size: 16px
					font-weight: $bold
					@extend .font-sm
					display: block
					padding: 20px 0
					position: relative
					&:after
						content: ''
						position: absolute
						bottom: 14px
						right: 0
						width: 0
						height: 3px
						@include gradient-primary
						transition: width 400ms cubic-bezier(.6,.24,.02,.99)
					&:hover
						&:after
							left: 0%
							right: auto
							width: 100%
				a.nav__cta
					font-weight: $bold
					font-size: 16px
					position: relative
					border-left: 2px solid rgba(255,0,84,1)
					border-right: 2px solid rgba(255,188,0,1)
					position: relative
					padding: 20px 30px
					&:before, &:after
						content: ''
						position: absolute
						height: 2px
						width: calc(100% + 2px)
						left: -1px
						@include gradient-primary
					&:before
						top: 0
					&:after
						bottom: 0

				&.active
					a
						&:after
							left: 0%
							right: auto
							width: 100%
				&:last-child
					padding-right: 0
.page--dark
	header
		nav.nav--desktop
			ul
				li
					a
						color: $color-secondary

.page--white
	header
		nav.nav--desktop
			ul
				li
					a
						color: $color-primary
