footer
	position: fixed
	width: 100%
	bottom: 0
	left: 0
	z-index: 2

	.social-links
		float: right
		ul
			margin: 0
			padding: 0 0 13px 0
			list-style: none
			li
				display: inline-block
				vertical-align: middle
				a
					@extend .font-sm
					display: block
					padding: 15px
					line-height: 1
					svg
						path
							transition: fill 400ms ease

				&:last-child
					a
						padding-right: 0
	.legal
		float: right
		@extend .font-xxs
		font-weight: $semi-bold
		padding-top: 22px
		margin-right: 25px


.page--dark, #cta
	footer
		.social-links
			ul
				li
					a
						svg
							path
								fill: $color-secondary
						&:hover
							svg
								path
									fill: #FF4C4B
		.legal
			color: $color-secondary
.page--white
	footer
		.social-links
			ul
				li
					a
						svg
							path
								fill: $color-primary
						&:hover
							svg
								path
									fill: #FF4C4B
		.legal
			color: $color-primary
