main
	position: relative
	&.main--full
		height: 100vh
	&.main--about
		z-index: 2
		margin-bottom: 50vh
.main-lines
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100%
	span
		position: absolute
		height: 100%
		top: 0
		width: 1px
		&:first-child
			left: 25%
		&:nth-child(2)
			left: 50%
		&:last-child
			left: 75%

.page--dark
	main
		@include gradient-secondary
		.main-lines
			span
				background: rgba(255, 255, 255, 0.1)

.page--white
	main
		background: $color-secondary
		.main-lines
			span
				background: rgba(32, 24, 46, 0.1)

#cta
	.main-lines
		span
			background: rgba(255, 255, 255, 0.1)
