section#index
	height: 100vh
	position: relative
	.index__content
		position: relative
		top: 50%
		transform: translatey(-35%)
		z-index: 2
		h1
			color: $color-secondary
			margin: 0
			line-height: 1
			span.gradient-text
				@include gradient-primary
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
		p
			color: $color-secondary
			font-weight: $semi-bold
			@extend .font-lg
			margin: 20px 0 50px
