section#works
	position: relative
	z-index: 1
	.works__item
		h2
			margin-bottom: 30px
			line-height: 1
			font-size: 56px
		.btn
			margin-top: 40px
	.img-container
		position: relative
		.img-box
			display: block
			position: relative
			box-shadow: $shadow-big
			overflow: hidden
			opacity: 0
			transform: translate3d(0, 20px, 0)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms
			img
				position: relative
				z-index: 1
		.gradient-box
			position: absolute
			width: 70%
			height: 100%
			top: 30px
			right: -30px
			opacity: 0
			transform: translate3d(-20px, -20px, 0)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 500ms, opacity 400ms ease 900ms
		.works__details
			position: absolute
			bottom: -60px
			left: -100px
			padding: 30px
			@extend .font-xs
			font-weight: $semi-bold
			z-index: 3
			&:before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				z-index: -1
				background: $color-secondary
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, box-shadow 1000ms ease 800ms
				transform: scale3d(1, 0, 1)
				transform-origin: 0 100%
			.details__item
				float: left
				margin-right: 60px
				&:nth-child(3)
					margin-right: 0
				span
					display: block
					position: relative
					transform: translate3d(0, 100%, 0)
					opacity: 0
					&:first-child
						color: $color-muted-dark
						margin-bottom: 12px
				&:first-child
					span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 800ms, opacity 400ms ease 1000ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 850ms, opacity 400ms ease 1050ms
				&:nth-child(2)
					span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 850ms, opacity 400ms ease 1050ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 900ms, opacity 400ms ease 1100ms
				&:nth-child(3)
					span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 900ms, opacity 400ms ease 1100ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 900ms, opacity 400ms ease 1100ms
		&.animation-start
			.img-box, img.works__item__logo, .gradient-box
				transform: translate3d(0, 0, 0)
				opacity: 1
			.works__details
				&:before
					transform: scale3d(1, 1, 1)
					box-shadow: $shadow-big
				.details__item
					span
						transform: translate3d(0, 0, 0)
						opacity: 1
ul#works-menu
	position: fixed
	right: 40px
	top: 50%
	transform: translatey(-50%)
	padding: 0
	margin: 0
	list-style: none
	z-index: 2
	li
		margin: 15px 0
		a
			@extend .font-xs
			color: $color-muted-dark
			font-weight: $extra-bold
			display: block
			padding: 10px 0 10px 10px
			text-align: right
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99), color 400ms ease
			position: relative
			transform-origin: 100% 50%
			display: block
			&:hover
				color: $color-primary
		&.active
			// margin: 0
			a
				color: $color-primary
				transform: scale3d(2, 2, 1)
				// padding: 0
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0


.works__mobile-content
	display: none
	padding: 160px 0 160px
	position: relative
	z-index: 2
	h1
		margin: 0
	p
		font-weight: $semi-bold
		@extend .font-lg
.works__item
	.grid
		.row
			.col
				&.img-container--mobile
					display: none !important
					margin-bottom: 80px
