section#capabilities
	height: 100vh
	position: relative
	z-index: 2

	h2
		color: $color-secondary
		margin-bottom: 30px
	p
		color: $color-secondary
	.gradient-box
		padding: 60px 40px
		color: $color-secondary
		position: relative
		z-index: 2
		transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms
		transform: translate3d(0, 20px, 0)
		opacity: 0
		transform-origin: 0 0
		&.animation-start
			opacity: 1
			transform: translate3d(0, 0, 0)
			.slider-number
				transform: translate3d(10%, -35%, 0)
				opacity: 0.7
			ul li
				opacity: 1
				transform: translate3d(0, 0, 0)
		ul
			list-style: none
			padding: 0
			margin: 0
			// visibility: hidden
			li
				display: inline-block
				font-size: 24px
				font-weight: $extra-bold
				margin: 20px 40px
				opacity: 0
				transform: translate3d(0, 20px, 0)
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 1000ms, opacity 400ms ease 1400ms
				@for $i from 1 through 6
					&:nth-child(#{$i})
						transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) (400ms + $i*50ms), opacity 400ms ease (600ms + $i*50ms)
		.slider-number
			position: absolute
			font-size: 500px
			color: $color-muted-white
			font-weight: $black
			letter-spacing: 5px
			top: 0
			z-index: -1
			opacity: 0
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms
			transform: translate3d(10%, -25%, 0)


		.slick-current:not(:first-child)
			.animation-container--services
				.animation-item--services
					transform: translate3d(0, 0, 0)
					opacity: 1
			.gradient-box
				transform: translate3d(0, 0, 0)
				opacity: 1
				.slider-number
					transform: translate3d(10%, -35%, 0)
					opacity: 0.7
				ul li
					opacity: 1
					transform: translate3d(0, 0, 0)
#capabilities-nav
	position: fixed
	width: 100%
	left: 0
	bottom: 80px
	z-index: 4
	@extend .clearfix
	ul
		@extend .clearfix
		width: calc(100% - 80px)
		float: left
		padding: 0
		margin: 0
		list-style: none
		li
			float: left
			width: 25%
			a
				display: block
				@extend .clearfix
				cursor: pointer
				position: relative
				transition: 500ms opacity ease
				opacity: 0
				transform: translate3d(0, 20px, 0)
				&:hover
					.item-number, .item-content
						color: rgba(255, 255, 255, 0.4)
				.item-number
					float: left
					font-weight: $extra-bold
					font-size: 64px
					color: rgba(255, 255, 255, 0.2)
					transition: color 500ms ease
				.item-content
					display: block
					float: left
					@extend .font-sm
					font-weight: $bold
					margin: 14px 0 0 10px
					color: rgba(255, 255, 255, 0.2)
					transition: color 500ms ease
			&.active
				a
					.item-number, .item-content
						color: rgba(255, 255, 255, 1)
		&.animation-start
			li
				a
					transform: translate3d(0, 0, 0)
					opacity: 1
	.capabilities-nav-arrows
		float: right
		width: 80px
		margin-top: 18px
		position: relative
		opacity: 0
		transform: translate3d(0, 20px, 0)
		transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 600ms, opacity 400ms ease 800ms
		text-align: right
		.nav-list-arrow
			display: inline-block
			margin-right: 5px
			transition: opacity 500ms ease
			&:last-child
				margin-right: 0
			img
				height: 30px
			&.disabled
				opacity: 0.2
		&.animation-start
			transform: translate3d(0, 0, 0)
			opacity: 1

.capabilities__mobile-content
	display: none
	padding: 160px 0
	position: relative
	z-index: 2
	h1
		margin: 0
		color: $color-secondary
	p
		font-weight: $semi-bold
		@extend .font-lg
		color: $color-secondary
