section#about
	padding-top: 240px
	padding-bottom: 240px
	position: relative
	z-index: 1
	h1
		margin-bottom: 30px
	p
		.animation-container:not(:last-child)
			margin-bottom: 0

	.team-slider-container
		position: relative
		.team-slider
			position: relative
			z-index: 1
			background: $color-secondary
			box-shadow: $shadow-big
			opacity: 0
			transform: translate3d(0, 20px, 0)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms
			.slick-list
				overflow: hidden
			.slider__item
				display: block !important
				position: relative
				img
					width: 100%
					display: block
					position: relative
					&:first-child
						z-index: 1
		.gradient-box
			position: absolute
			width: 100%
			height: 100%
			top: 30px
			left: 30px
			z-index: 0
			opacity: 0
			transform: translate3d(-20px, -20px, 0)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 500ms, opacity 400ms ease 900ms
		.team-slider-nav
			position: absolute
			padding: 30px
			z-index: 2
			bottom: -60px
			left: -100px
			width: 330px
			&:before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				z-index: -1
				background: $color-secondary
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, box-shadow 1000ms ease 800ms
				transform: scale3d(1, 0, 1)
				transform-origin: 0 100%
			.slick-list
				overflow: hidden
			.slider__item
				@extend .font-xs
				font-weight: $semi-bold
				span
					display: block
					&:first-child
						margin-bottom: 12px
						color: $color-muted-dark
			.slick-prev, .slick-next
				border: none
				background: none
				position: absolute
				display: block
				top: 36px
				padding: 0
				cursor: pointer
				z-index: 3
				transform: translate3d(0, 100%, 0)
				opacity: 0
				&:after
					content: ''
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					z-index: 1
					background: rgba(255, 255, 255, 0)
					transition: background 500ms ease
				&.slick-disabled
					&:after
						background: rgba(255, 255, 255, 0.8)
			.slick-prev
				right: 64px
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 700ms, opacity 400ms ease 950ms
			.slick-next
				right: 30px
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 750ms, opacity 400ms ease 1000ms
		&.animation-start
			.team-slider, .gradient-box
				opacity: 1
				transform: translate3d(0, 0, 0)
			.team-slider-nav
				&:before
					transform: scale3d(1, 1, 1)
					box-shadow: $shadow-big
				.slick-track
					.slick-slide
						&:first-child
							.slider__item
								span
									transform: translate3d(0, 0, 0)
									opacity: 1
				.slick-prev, .slick-next
					transform: translate3d(0, 0, 0)
					opacity: 1
.team-slider-nav
	.slick-track
		.slick-slide
			&:first-child
				.slider__item
					span
						transform: translate3d(0, 100%, 0)
						opacity: 0
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 700ms, opacity 400ms ease 900ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 750ms, opacity 400ms ease 950ms


section#clients
	position: relative
	z-index: 1
	padding-bottom: 160px
	h2.client-box-title
		position: absolute
		left: 0
		font-size: 8.5vw
		transform-origin: 50% 50%
		transform: rotate(-180deg) translate(55px, -60px)
		opacity: 0
		writing-mode: vertical-rl
		margin: 0
		z-index: 1
		transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 800ms
		&.animation-start
			opacity: 0.1
			transform: rotate(-180deg) translate(55%, -13%)
	h2.heading-mobile
		margin-top: 0
		display: none
	.client-box
		position: relative
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 30px
			left: 30px
			border: 10px solid $color-muted-dark
			box-sizing: border-box
			z-index: 1
			opacity: 0
			transform: translate3d(-20px, -20px, 0)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 800ms
		&:after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: $color-secondary
			z-index: 2
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99), box-shadow 1000ms ease 400ms
			transform: scale3d(1, 0, 1)
			transform-origin: 0 0
		&.animation-start
			&:after
				transform: scale3d(1, 1, 1)
				box-shadow: $shadow-big
			&:before
				opacity: 1
				transform: translate3d(0, 0, 0)
			.client-box__item
				opacity: 1
				transform: translate3d(0, 0, 0)
		.client-box__item
			width: 50%
			z-index: 3
			padding-top: 37%
			position: relative
			float: left
			opacity: 0
			transform: translate3d(0, 20px, 0)
			transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 1000ms, opacity 400ms ease 1400ms
			@for $i from 1 through 12
				&:nth-child(#{$i})
					transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) (400ms + $i*50ms), opacity 400ms ease (600ms + $i*50ms)
			img
				display: block
				max-width: 56%
				max-height: 40px
				position: absolute
				top: 50%
				left: 50%
				transform: translate3d(-50%, -50%, 0)
	.text-box
		h2
			margin-bottom: 30px
		p
			.animation-container--about:not(:last-child)
				margin-bottom: 0
	.animation-start
		.animation-container--about
			.animation-item--about
				transform: translate3d(0, 0, 0)
				opacity: 1
section#cta
	height: 50vh
	width: 100%
	@include gradient-secondary
	position: fixed
	left: 0
	bottom: 0
	.va-center
		z-index: 2
		h2
			color: $color-secondary
			// font-size: 64px
			margin: 0 0 30px


.about__mobile-content
	display: none
	padding: 160px 0
	position: relative
	z-index: 2
	h1
		margin: 0
		color: $color-primary
	p
		font-weight: $semi-bold
		@extend .font-lg
		color: $color-primary
