#contacts
	// height: 100vh
	padding-top: 240px
	padding-bottom: 120px
	color: #fff
	.contacts__content
		// @extend .va-center
		position: relative
		z-index: 2
		.text-box
			h1
				color: $color-secondary
				margin-bottom: 10px
				line-height: 1
			p
				color: $color-secondary
				font-weight: $semi-bold
				@extend .font-lg
		.contacts-box
			padding: 80px
			margin-top: 60px
			// display: inline-block
			position: relative
		.gradient-box
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			&.gradient-box--animation
				transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms
				transform: translate3d(0, 20px, 0)
				opacity: 0
				transform-origin: 0 0
				&.animation-start
					transform: translate3d(0, 0, 0)
					opacity: 1
		.contacts-list
			margin: 0
			padding: 0
			@media all and (max-width: 1200px)
				display: flex
				flex-wrap: wrap
			li
				display: inline-block
				margin-right: 80px

				@media all and (max-width: 1200px)
					width: 50%
					margin-right: 0

					&:nth-child(-n + 2)
						margin-bottom: 30px

				&:last-child
					margin-right: 0
				.btn--small
					padding-top: 0
					font-weight: 800
					font-size: 20px
					position: relative
					transform-origin: 0 0
					transform: translate3d(0, 100%, 0)
					opacity: 0
					transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 650ms, opacity 400ms ease 850ms
					&.animation-start
						transform: translate3d(0, 0, 0)
						opacity: 1
				>span
					display: block
					&:first-child
						color: $color-muted-less-white
						@extend .font-xs
						font-weight: $semi-bold
						margin-bottom: 10px
						position: relative
						transform-origin: 0 0
						transform: translate3d(0, 100%, 0)
						opacity: 0
						&.animation-start
							transform: translate3d(0, 0, 0)
							opacity: 1
					&:last-child
						color: $color-secondary
						font-size: 20px
						font-weight: $extra-bold
						position: relative

						transform-origin: 0 0
						transform: translate3d(0, 100%, 0)
						opacity: 0
						&.animation-start
							transform: translate3d(0, 0, 0)
							opacity: 1
				&:first-child
					>span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 500ms, opacity 400ms ease 700ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 500ms, opacity 400ms ease 700ms
				&:nth-child(2)
					>span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 550ms, opacity 400ms ease 750ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 550ms, opacity 400ms ease 750ms
				&:nth-child(3)
					>span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 600ms, opacity 400ms ease 800ms
						&:last-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 600ms, opacity 400ms ease 800ms
				&:nth-child(4)
					>span
						&:first-child
							transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 650ms, opacity 400ms ease 850ms


#form
	padding-top: 120px
	.text-box
		h2
			color: $color-secondary
			margin-bottom: 10px
			line-height: 1
		p
			color: $color-secondary
			font-weight: $semi-bold
			@extend .font-lg
	form
		margin-top: 60px
		margin-bottom: 240px
		position: relative
		z-index: 3
		display: block
		// padding: 80px
		// border: 2px solid red
		.form__block
			margin-bottom: 80px
			h3
				color: $color-secondary
				line-height: 1
				font-size: 24px
				margin-bottom: 1em
			button
				background: none
				border: none
				font-family: $font-primary
			&.from__block--checkbox
				label
					display: block
					color: $color-secondary
					float: left
					// border: 1px solid red
					padding: 10px 0 10px 40px
					position: relative
					font-size: 16px
					font-weight: 700
					margin-bottom: 5px
					span
						color: $color-muted-less-white
					&:before
						content: ''
						position: absolute
						height: 20px
						width: 20px
						border: 2px solid $color-muted-less-white
						// border-radius: 3px
						left: 0
						top: 6px
						transition: border-color 300ms cubic-bezier(.6,.24,.02,.99)
					&:after
						content: ''
						position: absolute
						width: 8px
						height: 8px
						left: 8px
						top: 14px
						// border-radius: 1px
						background: transparent
						transition: background 200ms cubic-bezier(.6,.24,.02,.99)
					&:hover
						&:before
							border-color: $color-secondary
						// &:after
						// 	border-color: $color-muted-less-white
				input[type="checkbox"]
					opacity: 0
					visibility: hidden
					position: absolute
				input[type="checkbox"]:checked + label
					color: $color-secondary
					&:before
						border-color: $color-secondary
					&:after
						background: $color-secondary
			&.form__block--input
				.block__input
					position: relative
				label
					color: $color-muted-less-white
					font-size: 16px
					display: block
					font-weight: 700
					position: relative
					bottom: 0
					left: 0
					transform: translateY(-16px)
					position: absolute
					transition: transform 500ms cubic-bezier(.6,.24,.02,.99)
					cursor: text
					pointer-events: none
					span.error-input
						color: red

				input[type="text"], input[type="email"], input[type="tel"]
					display: block
					border: none
					// border: 1px solid green
					border-bottom: 2px solid $color-muted-less-white
					height: 50px
					background: none
					box-shadow: none
					color: $color-secondary
					width: 100%
					margin-bottom: 60px
					transition: border-color 300ms cubic-bezier(.6,.24,.02,.99)
					font-family: $font-primary
					font-size: 16px
					font-weight: 700
					margin: 10px 0 60px 0
					line-height: 1em
					&:focus
						border-color: $color-secondary
					&:focus + label
						transform: translateY(-48px)
				textarea
					display: block
					width: 100%
					background: none
					box-shadow: none
					border: none
					border-bottom: 2px solid $color-muted-less-white
					resize: none
					color: $color-secondary
					font-family: $font-primary
					font-size: 16px
					font-weight: 700
					line-height: 1em
					// border: 1px solid white
					&:focus
						border-color: $color-secondary
					&:focus + label
						transform: translateY(-48px)
