#page-404
	height: 100vh
	position: relative
	.page-404__content
		@extend .va-center
		z-index: 2
		h1
			color: $color-secondary
			margin-bottom: 20px
		p
			color: $color-secondary
			font-weight: $semi-bold
			@extend .font-lg
			margin-bottom: 60px
	.bg-text
		font-size: 500px
		font-weight: $black
		letter-spacing: 5px
		color: $color-muted-white
		display: block
		text-align: center
		width: 100%
		position: absolute
		bottom: 0
		left: 0
		transform: translatey(40%)
		z-index: 0
