<svg height="20" version="1" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
	<path d="M12.914 15.272s3.027-.23 3.027-3.852c0-3.619-2.053-5.403-5.191-5.403L0 6v20h11s5.5.174 5.5-6c0 0 .404-4.728-3.586-4.728zM4 9h5.5s1.882.031 1.882 2.471C11.382 14 9.5 14 9.5 14H4V9zm6 14H4v-6h6s3 .031 3 3-2.568 3-3 3zM25 11c-7.513 0-7.5 7.5-7.5 7.5S17 26 25 26c0 0 7 0 7-6h-4s0 3-3 3c0 0-3 0-3-4h10c0-2 0-8-7-8zm-3 6s-.066-3 3-3c3.065 0 3 3 3 3h-6zM21 8h8v2h-8z" fill="#fff"/>
</svg>
