doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | Puslapis nerastas 404',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		''
	)

	//- BODY
	body.page--viewport.page--dark

		//- Page container
		#page-container

			//- Header
			+header('', '', '', '')

			//- Main
			main.main--full
				section#page-404
					.page-404__content
						.grid
							.row
								.col.md-10-12.md-push-left-1-12
									.text-box
										h1
											span.animation-container
												span.animation-item(style="transition-delay: 100ms") Bum!
										p 
											span.animation-container 
												span.animation-item(style="transition-delay: 150ms") Jūs sulaužėte internetą. Grįžkite atgal ir niekas nesužinos.
										.animation-btn-container
											a(href="/").btn.btn--small.btn--inverse.btn--index Grįžti ten kur saugu
					span.bg-text 404


					//- Bg lines
					include includes/structure/structure_bg-lines

			//- Footer
			include includes/global/global_footer
