doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | Apie VSBL Web studio, jos komandos narius bei klientus',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		'https://vsbl.lt/apie-mus'
	)

	//- BODY
	body

		//- Page container
		#page-container.page--white.page--about

			//- Header
			+header('', '', 'active', '')

			//- Main
			main.main--about
				.about__mobile-content
					.grid
						.row
							.col.xl-push-left-1-12.lg-8-12.md-10-12
								h1
									span.animation-container
										span.animation-item(style="transition-delay: 100ms") Apie mus
								p
									span.animation-container
										span.animation-item(style="transition-delay: 150ms") geriausiai kalba mūsų darbai, tačiau norime papasakoti daugiau.			
				section#about
					.grid
						.row.row--inline-middle
							.col.lg-5-12.lg-push-left-1-12.md-6-12
								.text-box
									h2
										span.animation-container
											span.animation-item(style="transition-delay: 100ms;") Kas mes?
									p
										span.animation-container 
											span.animation-item(style="transition-delay: 150ms;") VSBL Web Studio profesionalų komandą subūrė bendras žinojimas, kad sėkmingas verslas turi būti matomas ir toks, kurį noris matyti.
										span.animation-container
											span.animation-item(style="transition-delay: 200ms;") Nuo tada, sutelkę skirtingas savo patirtis bei siekdami geriausių - išmatuojamų rezultatų, dirbame tik su tais, kurie savo amatui atsidavę taip, kaip ir mes.
							.col.lg-4-12.lg-push-left-1-12.md-6-12
								.team-slider-container
									.team-slider
										.slider__item
											img(src="assets/img/team/team-darius.jpg" alt="VSBL Agency komandos narys - Darius")
										.slider__item
											img(src="assets/img/team/team-ida.jpg" alt="VSBL Agency komandos narys - Ida")
										.slider__item
											img(src="assets/img/team/team-karolis.jpg" alt="VSBL Agency komandos narys - Karolis")
										.slider__item
											img(src="assets/img/team/team-tomas.jpg" alt="VSBL Agency komandos narys - Tomas")
										.slider__item
											img(src="assets/img/team/team-roman.jpg" alt="VSBL Agency komandos narys - Roman")
										.slider__item
											img(src="assets/img/team/team-renata.jpg" alt="VSBL Agency komandos narys - Renata")
									.team-slider-nav
										.slider__item
											span Įkūrėjas, vadovas
											span Darius Roževič
										.slider__item
											span Projektų vadovė
											span Ida Janušauskaitė
										.slider__item
											span Full-stack programuotojas
											span Karolis Svirskas
										.slider__item
											span Front-end programuotojas
											span Tomas Žukovskij
										.slider__item
											span UX/UI dizaineris
											span Roman Bobrov
										.slider__item
											span UX/UI dizainerė
											span Renata Razmaitė
									.gradient-box
				section#clients
					.grid
						.row.row--inline-middle
							.col.lg-4-12.lg-push-left-1-12.md-5-12
								h2.client-box-title.animation-scroll Klientai
								h2.heading-mobile.animation-scroll
									span.animation-container--about
										span.animation-item--about(style="transition-delay: 300ms;") Klientai
								.client-box.animation-scroll
									.client-box__item: img(src="assets/img/works/logos/getjet-airlines-logo.svg" alt="Getjet Airlines logotipas")
									.client-box__item: img(src="assets/img/works/logos/conresta-logo.svg" alt="Conresta logotipas")
									.client-box__item: img(src="assets/img/works/logos/vilnius-logo.svg" alt="Vilniaus miesto logotipas")
									.client-box__item: img(src="assets/img/works/logos/login-logo.svg" alt="Login logotipas")
									.client-box__item: img(src="assets/img/works/logos/walless-logo.svg" alt="Walless logotipas")
									.client-box__item: img(src="assets/img/works/logos/tiketa-logo.svg" alt="Tiketa logotipas")
									//- .client-box__item: img(src="assets/img/works/logos/bosca-logo.svg" alt="Bosca logotipas")
									.client-box__item: img(src="assets/img/works/logos/factory-logo--dark.svg" alt="Factory by Ribas logotipas")
									.client-box__item: img(src="assets/img/works/logos/rackray-logo.svg" alt="Rackray logotipas")
									//- .client-box__item: img(src="assets/img/works/logos/cranbalt-logo.svg" alt="Cranbalt logotipas")
									.clear
							.col.lg-5-12.md-push-left-1-12.md-6-12
								.text-box.animation-scroll
									h2
										span.animation-container--about
											span.animation-item--about(style="transition-delay: 300ms;") Ar tikrai Jūs?
									p
										span.animation-container--about
											span.animation-item--about(style="transition-delay: 350ms;") Esame savo srities specialistai, abejingi šablonams ir „puse rankų" nudirbtiems darbams, todėl savo paslaugas siūlome ieškantiems įdomių ir nestandartinių interneto sprendimų.
										span.animation-container--about
											span.animation-item--about(style="transition-delay: 400ms;") Kad drauge siektume įkvepiančių tikslų, glaudaus bendradarbiavimo bei Jūsų verslo sėkmę garantuojančių rezultatų. Trumpiau tariant, dirbame sunkiai ir nuoširdžiai, tad esame reiklūs ne tik sau, bet ir savo klientams.



				//- Bg lines
				include includes/structure/structure_bg-lines

			section#cta
				.va-center
					.grid
						.row
							.col.sm-6-12.sm-push-left-3-12.ta-center
								.cta__content
									h2
										span.animation-container--cta
											span.animation-item--cta Esate pasiruošę?
									.animation-btn-container
										a(href="https://vsbl.lt/kontaktai#form" style="transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 200ms, opacity 1000ms cubic-bezier(.6,.24,.02,.99) 200ms").btn.btn--inverse.btn--large Pasikalbėkime

				//- Bg lines
				include includes/structure/structure_bg-lines

				//- Footer
				include includes/global/global_footer
			.page-dim
