doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url

	+head(
		'VSBL | Sukurtos internetinės svetainės ir elektroninės parduotuvės',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		'https://vsbl.lt/darbai'
	)

	//- BODY
	body.page--white.page--works

		//- Page container
		#page-container

			//- Header
			+header('active', '', '', '')

			//- Main
			main
				.works__mobile-content
					.grid
						.row
							.col.xl-push-left-1-12.lg-8-12.md-10-12
								h1
									span.animation-container
										span.animation-item(style="transition-delay: 100ms") Mūsų darbai
								p
									span.animation-container
										span.animation-item(style="transition-delay: 150ms") ir mūsų klientų sėkmės istorijos.
				section#works

					//- Works item
						- project title
						- text
						- page url
						- thumbnail url
						- thumbnail alt
						- Client title
						- Year
						- What we did



					//- +works-item(
					//- 	'Conresta',
					//- 	'',
					//- 	'Patirtį sujungti su inovacijomis ne tik kliento, bet ir mūsų pagrindinis tikslas. Pristatome bene pažangiausią statybų sektoriaus svetainę Lietuvoje.',
					//- 	'https://conresta.lt/',
					//- 	'assets/img/works/conresta-thumbnail.jpg',
					//- 	'Conresta.lt nuotrauka',
					//- 	'assets/img/works/conresta-thumbnail-mobile.jpg',
					//- 	'Conresta.lt nuotrauka',
					//- 	'Conresta',
					//- 	'2019',
					//- 	'Interneto svetainė'
					//- )

					//- +works-item(
					//- 	'Getjet Airlines',
					//- 	'',
					//- 	'Inovacijos - tai drąsių ir be baimės į ateitį žvelgiančių specialistų tema, verta ne tik didžiausios Pabaltijo konferencijos, bet ir unikalios svetainės, kurios programavimu šiemet pasirūpinome mes.',
					//- 	'https://getjet.aero/',
					//- 	'assets/img/works/getjet-thumbnail.jpg',
					//- 	'Getjet.aero nuotrauka',
					//- 	'assets/img/works/getjet-thumbnail-mobile.jpg',
					//- 	'Getjet.aero nuotrauka',
					//- 	'Getjet Airlines',
					//- 	'2019',
					//- 	'Interneto svetainė'
					//- )

					//- +works-item(
					//- 	'Vilmers',
					//- 	'',
					//- 	'Generalinės rangos rinkos lyderei jų naujai sukurtą vizualinį identitetą ten, kur jis geriausiai atrodo - internetą.',
					//- 	'https://vilmers.com/',
					//- 	'assets/img/works/vilmers-thumbnail.jpg',
					//- 	'Conresta.lt nuotrauka',
					//- 	'assets/img/works/vilmers-thumbnail-mobile.jpg',
					//- 	'Conresta.lt nuotrauka',
					//- 	'Vilmers',
					//- 	'2019',
					//- 	'Interneto svetainė'
					//- )

					+works-item(
						'Login 2019',
						'',
						'Inovacijos - tai drąsių ir be baimės į ateitį žvelgiančių specialistų tema, verta ne tik didžiausios Pabaltijo konferencijos, bet ir unikalios svetainės, kurios programavimu šiemet pasirūpinome mes.',
						'https://login.lt/',
						'assets/img/works/login-thumbnail.jpg',
						'Login 2019 konferencijos nuotrauka',
						'assets/img/works/login-thumbnail--mobile.jpg',
						'Login 2019 konferencijos nuotrauka',
						'Login Conferences',
						'2019',
						'Interneto svetainė'
					)

					+works-item(
						'The Factory',
						'',
						'Vienintelę Lietuvoje deimantų ir vestuvių juvelyrikos studiją iš Stiklių gatvės perkėlėme į internetą. Klaidžiais keliais jos ieškot nebereikia, prabangiais ir patogiais apsipirkimais jau pasirūpinta.',
						'http://factorybyribas.lt/',
						'assets/img/works/factory-thumbnail.jpg',
						'Factorybyribas.lt nuotrauka',
						'assets/img/works/factory-thumbnail--mobile.jpg',
						'Factorybyribas.lt nuotrauka',
						'The Factory by Ribas',
						'2019',
						'Elektroninė parduotuvė'
					)

					+works-item(
						'Neakivaizdinis ',
						'Vilnius',
						'Projektas, skirtas atrasti Vilnių iš naujo, pažinti vietas, kurios iš pirmo žvilgsnio niekuo neišsiskiria, bet savyje slepia turtingą istoriją.',
						'https://neakivaizdinisvilnius.lt/',
						'assets/img/works/vilnius-thumbnail.jpg',
						'Neakivaizdinisvilnius.lt nuotrauka',
						'assets/img/works/vilnius-thumbnail--mobile.jpg',
						'Neakivaizdinisvilnius.lt nuotrauka',
						'Vilniaus miesto savivaldybė',
						'2019',
						'Interneto svetainė'
					)

					+works-item(
						'Tiketa',
						'',
						'Po pirmųjų metų kartu nebevadiname jų klientais, greičiau kolegomis, kurie mums patikėjo vidinės įmonės administravimo sistemos UX ir UI dizainą.',
						'',
						'assets/img/works/tiketa-thumbnail.jpg',
						'Tiketa.lt nuotrauka',
						'assets/img/works/tiketa-thumbnail--mobile.jpg',
						'Factorybyribas.lt nuotrauka',				
						'Tiketa',
						'2017 - 2019',
						'UX ir UI dizainas'
					)

					+works-item(
						'Persense',
						'',
						'Solidūs ir profesionalūs - ne todėl, kad mažai kalba, o todėl, kad kalba tik tai, ką reikia. Mums beliko tai perteikti į Persense svetainę.',
						'http://persense.lt/',
						'assets/img/works/persense-thumbnail.jpg',
						'Rackray nuotrauka',
						'assets/img/works/persense-thumbnail--mobile.jpg',
						'Persense.lt nuotrauka',		
						'Persense',
						'2019',
						'Interneto svetainė'
					)



					+works-item(
						'Walless',
						'',
						'Drąsiai ir veržliai profesionalių teisininkų komandai be sienų – solidus ir modernus interneto svetainės stilius, leidžiantis perteikti atviros, standartus laužančios advokatų kontoros įvaizdį.',
						'https://walless.com/',
						'assets/img/works/walless-thumbnail.jpg',
						'Walless.lt nuotrauka',
						'assets/img/works/walless-thumbnail--mobile.jpg',
						'Walless.com nuotrauka',
						'Walless',
						'2019',
						'Interneto svetainė'
					)

					+works-item(
						'Rackray',
						'',
						'Tai jau trečią kartą pas mus sugrįžęs klientas, kuriam ieškojome raiškaus, unikalaus ir vizualiai jo veiklą atspindinčio dizaino sprendimo. Kūrėme naują nežiūrėję į seną, taip bėgdami nuo monotonijos ir rinkoje besikartojančių idėjų.',
						'https://www.rackray.com/',
						'assets/img/works/rackray-thumbnail.jpg',
						'Rackray nuotrauka',
						'assets/img/works/rackray-thumbnail--mobile.jpg',
						'Factorybyribas.lt nuotrauka',		
						'Interneto vizija',
						'2018',
						'Interneto svetainė'
					)

					+works-item(
						'Domoflor',
						'',
						'Nei daug, nei mažai - jau keturioliką metų kuriamoje įmonės istorijoje atvertėme naują puslapį - šiuolaikišką, gyvą bei atspindintį tvarias Domoflor vertybes.',
						'https://domoflor.lt',
						'assets/img/works/domoflor-thumbnail.jpg',
						'Domoflor nuotrauka',
						'assets/img/works/domoflor-thumbnail--mobile.jpg',
						'Factorybyribas.lt nuotrauka',	
						'Domoflor',
						'2018',
						'Logotipas, interneto svetainė'
					)

					//- +works-item(
					//- 	'Pixel ',
					//- 	'Guardian',
					//- 	'„From zero to hero“. Taip apibūdiname šį projektą, į kurį įdėjome daug darbo ir dar daugiau animacijos, kad apie juos kalbėtų ne tik jų darbai, bet ir interneto svetainė.',
					//- 	'http://pixelguardian.eu/',
					//- 	'assets/img/works/pixelguardian-thumbnail.jpg',
					//- 	'Pixel Guardian nuotrauka',
					//- 	'assets/img/works/pixelguardian-thumbnail--mobile.jpg',
					//- 	'Factorybyribas.lt nuotrauka',
					//- 	'Pixel Guardian studio',
					//- 	'2017',
					//- 	'Interneto svetainė'
					//- )

					//- +works-item(
					//- 	'Laurinaitytė',
					//- 	'',
					//- 	'Visiška kūrybinė laisvė išaugusi į modernią ir tuo pačiu diskretišką įvaizdinę svetainę, kalbančią apie aukščiausią paslaugų kokybę ir interjero meno išmanymą.',
					//- 	'http://laurinaityte.lt/',
					//- 	'assets/img/works/laurinaityte-thumbnail.jpg',
					//- 	'Laurinaityte.lt nuotrauka',
					//- 	'assets/img/works/laurinaityte-thumbnail--mobile.jpg',
					//- 	'Factorybyribas.lt nuotrauka',
					//- 	'Justina Laurinaitytė',
					//- 	'2017',
					//- 	'Interneto svetainė'
					//- )

					//- +works-item(
					//- 	'Cranbalt',
					//- 	'',
					//- 	'Kylant į aukštumas reikėjo atsinaujinti, tad patobulinome Cranbalt logotipą ir sukūrėme naują - šiuolaikiškumu alsuojančią interneto svetainę.',
					//- 	'https://cranbalt.com/lt/',
					//- 	'assets/img/works/cranbalt-thumbnail.jpg',
					//- 	'Cranbalt nuotrauka',
					//- 	'assets/img/works/cranbalt-thumbnail--mobile.jpg',
					//- 	'Factorybyribas.lt nuotrauka',
					//- 	'Cranbalt',
					//- 	'2017',
					//- 	'Interneto svetainė, logotipas'
					//- )


				//- Works menu
					- Anchor title
					- Works number

					Don't forget to edit script.js file

				ul#works-menu
					//- +works-menu('conresta', '01')
					+works-menu('login2019', '01')
					+works-menu('factory', '02')
					+works-menu('neakivaizdinis', '03')
					+works-menu('tiketa', '04')
					+works-menu('persense', '05')
					+works-menu('walless', '06')
					+works-menu('rackray', '07')
					+works-menu('domoflor', '08')
					//- +works-menu('pixelguardian', '08')
					//- +works-menu('laurinaityte', '08')
					//- +works-menu('cranbalt', '09')

				//- Bg lines
				include includes/structure/structure_bg-lines

			//- Footer
			include includes/global/global_footer

			script.
				$('#works').fullpage({
					sectionSelector: '.works__item',
					anchors: ['login2019', 'factory', 'neakivaizdinis', 'tiketa', 'persense',  'walless', 'rackray', 'domoflor'],
					menu: '#works-menu',
					scrollingSpeed: 1000,
					easingcss3: 'cubic-bezier(.6,.24,.02,.99)',
					responsiveWidth: 1025,
					continuousVertical: true,
					onLeave: function(origin, destination, direction){
						var leavingSection = this;
							$('.active .animation-container--works .animation-item--works, .active .animation-btn-container .btn, .active .img-container').removeClass('animation-start');
							$('.works__item:nth-child(' + destination + ') .animation-container--works .animation-item--works, .works__item:nth-child(' + destination + ') .animation-btn-container .btn, .works__item:nth-child(' + destination + ') .img-container').addClass('animation-start');
					},
					afterLoad: function(origin, destination, direction){
						$('.active .animation-container--works .animation-item--works, .active .animation-btn-container .btn, .active .img-container').addClass('animation-start');
					},
				});
