doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | Web dizaino studija, kurianti premium interneto svetaines',
		'Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves.',
		'https://vsbl.lt'
	)

	//- BODY
	body.page--viewport.page--dark

		//- Page container
		#page-container

			//- Header
			+header('', '', '', '')

			//- Main
			main.main--full
				section#index
					.index__content
						.grid
							.row
								.col.xl-push-left-1-12.lg-8-12.md-10-12
									h1
										span.animation-container
											span.animation-item(style="transition-delay: 100ms") Padedame verslams 
										span.animation-container
											span.animation-item(style="transition-delay: 150ms") tapti <span class="gradient-text">matomais</span>
								.col.xl-push-left-1-12.lg-6-12.md-8-12
									p
										span.animation-container
											span.animation-item(style="transition-delay: 200ms") Esame UX, UI & Web development studija, kurianti premium klasės interneto svetaines ir elektronines parduotuves.
									.animation-btn-container
										a(href="https://vsbl.lt/darbai").btn.btn--small.btn--inverse.btn--index Mūsų darbai

				//- Bg lines
				include includes/structure/structure_bg-lines

			//- Footer
			include includes/global/global_footer
