doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | Internetinių svetainių kūrimas, elektroninių parduotuvių kūrimas',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės internetinės svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		'https://vsbl.lt/internetiniu-svetainiu-kurimas'
	)

	//- BODY
	body.page--viewport.page--dark.page--capabilities

		//- Page container
		#page-container

			//- Header
			+header('', 'active', '', '')

			//- Main
			main.main--full
				.capabilities__mobile-content
					.grid
						.row
							.col.xl-push-left-1-12.lg-8-12.md-10-12
								h1
									span.animation-container
										span.animation-item(style="transition-delay: 100ms") Internetinių svetainių kūrimas
								p
									span.animation-container
										span.animation-item(style="transition-delay: 150ms") Kūriame sprendimus verslui, kurie padeda siekti užsibrėžtų tikslų.


				section#capabilities

					//- Slider item
						- Title line 1
						- Title line 2
						- Text
						- Slider number
						- Tags 1-6

					+capabilities-item(
						'Strategija ir ',
						'planavimas',
						'Kiekvienas mūsų projektas prasideda detaliu klausinėjimu bei nuožmia teisingų atsakymų paieška. Nes tik kruopščiai ištyrę rinką, jos auditoriją bei prekės ženklo savybes, galime sukurti pilnavertį, klientui artimą bei patrauklų Jūsų verslo įvaizdį internete. Sėkmingais spėjimais mes netikime - tik faktais ir patirtimi grįstu žinojimu.',
						'01',
						'Research',
						'Planning',
						'KPIs',
						'Content',
						'Sitemap',
						'Wireframes'
					)

					+capabilities-item(
						'Web ',
						'dizainas',
						'Gražų dizainą nupiešti gali visi, tačiau mes į šią užduotį žvelgiame kiek plačiau, ieškodami ne tik estetiškų, bet ir logiškų - vartotojo patirties analize paremtų dizaino sprendimų. Kurie Jūsų verslui bus našūs, o internetinės svetainės lankytojams - paslaugūs, estetiški bei kviečiantys veikti.',
						'02',
						'UX Design',
						'UI Design',
						'Mobile',
						'Custom graphics',
						'Brand identity',
						''
					)

					+capabilities-item(
						'Web ',
						'programavimas',
						'Siekdami užtikrinti geriausią lankytojų patirtį ir maksimalų internetinės svetainės funkcionalumą, esame preciziški net smulkiausioms detalėms. Pradedant sparčiu veikimu bet kuriame vartotojo įrenginyje, baigiant tvarkingu kodu, paprasta ir sklandžia priežiūra bei lengvu turinio redagavimu.',
						'03',
						'Front-end',
						'Back-end',
						'E-commerce',
						'Wordpress',
						'Testing',
						'Deployment'
					)

					+capabilities-item(
						'Priežiūra ir ',
						'palaikymas',
						'Kad Jūsų internetinė svetainė ir toliau sėkmingai gyvuotų, reikia ja pasirūpinti. Užtikrinant sklandų sistemos veikimą, duomenų saugumą bei naršymo greitį, būtiną vis augantiems vartotojų lūkesčiams tenkinti. Todėl sukūrę internetinę svetainę nepaliksime Jūsų vienų - patys sąžiningai viskuo pasirūpindami.',
						'04',
						'Backups',
						'CMS Updates',
						'Plugin updates',
						'Security',
						'Hosting',
						''
					)

				#capabilities-nav
					.grid
						.row
							.col.xl-10-12.xl-push-left-1-12.lg-12-12

								//- Slider nav
									- Number
									- Title
									- Transition
									capabilities-nav-item(Number, AnchorTitle, Title, Transition)
								ul.capabilities-nav-list
									+capabilities-nav-item('01', 'strategija-ir-planavimas', 'Strategija ir <br> planavimas', 'transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 400ms, opacity 400ms ease 600ms')
									+capabilities-nav-item('02', 'web-dizainas', 'Web <br> dizainas', 'transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 450ms, opacity 400ms ease 650ms')
									+capabilities-nav-item('03', 'web-programavimas', 'Web <br> programavimas', 'transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 500ms, opacity 400ms ease 700ms')
									+capabilities-nav-item('04', 'prieziura-ir-palaikymas', 'Priežiūra ir <br> palaikymas	', 'transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 550ms, opacity 400ms ease 750ms')
								.capabilities-nav-arrows
									span.nav-list-arrow.nav-list-arrow--prev
										img(src="assets/img/arrow-left--white.svg" alt="Strelytė į kairę")
									span.nav-list-arrow.nav-list-arrow--next
										img(src="assets/img/arrow-right--white.svg" alt="Strelytė į dešinę")
				//- Bg lines
				include includes/structure/structure_bg-lines

			//- Footer
			include includes/global/global_footer

			script.
				$('#capabilities').fullpage({
					sectionSelector: '.capabilities__item',
					anchors: ['strategija-ir-planavimas', 'web-dizainas', 'web-programavimas', 'prieziura-ir-palaikymas'],
					menu: '.capabilities-nav-list',
					scrollingSpeed: 0,
					responsiveWidth: 1025,
					onLeave: function(origin, destination, direction){
						var leavingSection = this;
							$('.active .animation-container--services .animation-item--services, .active .gradient-box').removeClass('animation-start');
							$('.capabilities__item:nth-child(' + destination + ') .animation-container--services .animation-item--services, .capabilities__item:nth-child(' + destination + ') .gradient-box').addClass('animation-start');
					},
					afterLoad: function(origin){
						if (origin == 'strategija-ir-planavimas') {
							$('.nav-list-arrow--prev').addClass('disabled');
						}
						else {
							$('.nav-list-arrow--prev').removeClass('disabled');
						}
						if (origin == 'prieziura-ir-palaikymas') {
							$('.nav-list-arrow--next').addClass('disabled');
						}
						else {
							$('.nav-list-arrow--next').removeClass('disabled');
						}						
						$('.active .animation-container--services .animation-item--services, .active .gradient-box').addClass('animation-start');

					},
				});
				$('#capabilities').fullpage.setAllowScrolling(false);
				//- $('#capabilities').fullpage.setKeyboardScrolling(false);
				$('.nav-list-arrow--next').click(function() {
					$('#capabilities').fullpage.moveSectionDown();
				});
				$('.nav-list-arrow--prev').click(function() {
					$('#capabilities').fullpage.moveSectionUp();
				});
