doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | VSBL Web Studio kontaktinė informacija',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		'https://vsbl.lt/kontaktai'
	)

	//- BODY
	body.page--dark.page--contacts

		//- Page container
		#page-container

			//- Header
			+header('', '', '', 'active')

			//- Main
			main
				section#contacts
					.contacts__content
						.grid
							.row
								.col.xl-push-left-1-12.xl-10-12
									.text-box
										h1
											span.animation-container
												span.animation-item(style="transition-delay: 100ms") Susipažinkime
										p
											span.animation-container
												span.animation-item(style="transition-delay: 250ms") ir pradėkime pasakoti Jūsų verslo istoriją.
									.contacts-box
										.gradient-box.gradient-box--animation
										ul.contacts-list
											li
												span Parašykite
												span 
													span h
													span e
													span l
													span l
													span o
													span @
													span v
													span s
													span b
													span l
													span .
													span l
													span t
											li
												span Paskambinkite
												span 
													span +
													span 3
													span 7
													span 0
													span  
													span 6
													span 8
													span 2
													span  
													span 4
													span 4
													span 5
													span 8
													span 8
											li
												span Aplankykite
												span T. Ševčenkos g. 16a, Vilnius
											li
												span Užpildykite
												a(href="#form" id="scroll-to-form").btn.btn--primary.btn--inverse.btn--small klausimyną
				section#form
					.grid
						.row
							.col.xl-push-left-1-12.xl-10-12
								.text-box
									h2
										span.animation-container
											span.animation-item(style="transition-delay: 100ms") Turite minutę?
									p
										span.animation-container
											span.animation-item(style="transition-delay: 250ms") Užpildykite formą žemiau.
							.col.xl-push-left-1-12.xl-10-12
								form(action="mail_handler.php" method="post")
									.form__block.from__block--checkbox
										.row
											.col.xs-12-12
												.text-box
													h3 Poreikiai
											.col.md-4-12
												input(type="checkbox" id="input-strategy" name="strategija_ir_planavimas" value="Strategija ir planavimas")
												label(for="input-strategy") Strategija ir planavimas
											.col.md-4-12
												input(type="checkbox" id="input-design" name="dizainas" value="Dizainas")
												label(for="input-design") Dizainas
											.col.md-4-12
												input(type="checkbox" id="input-development" name="programavimas" value="Programavimas")
												label(for="input-development") Programavimas
											.col.md-4-12
												input(type="checkbox" id="input-website" name="interneto_svetaine" value="Interneto svetainė")
												label(for="input-website") Interneto svetainė
											.col.md-4-12
												input(type="checkbox" id="input-ecommerce" name="elektronine_parduptuve" value="Elektroninė parduotuvė")
												label(for="input-ecommerce") Elektroninė parduotuvė
											.col.md-4-12
												input(type="checkbox" id="input-analysis" name="dabartines_svetaines_analize" value="Dabartinės svetainės analizė")
												label(for="input-analysis") Dabartinės svetainės analizė												
											.col.md-4-12
												input(type="checkbox" id="input-other" name="kita")
												label(for="input-other") Kita 
													span (nurodykite komentaruose)
									.form__block.from__block--checkbox
										.row
											.col.xs-12-12
												.text-box
													h3 Terminas
											.col.md-4-12
												input(type="checkbox" id="input-asap" name="reikejo_vakar" value="Reikėjo vakar")
												label(for="input-asap") Reikėjo vakar
											.col.md-4-12
												input(type="checkbox" id="input-3-month" name="iki_3_men" value="Iki 3 mėn.")
												label(for="input-3-month") Iki 3 mėn. 
											.col.md-4-12
												input(type="checkbox" id="input-6-month" name="iki_6_men" value="Iki 6 mėn. arba daugiau")
												label(for="input-6-month") Iki 6 mėn. arba daugiau
									.form__block.from__block--checkbox
										.row
											.col.xs-12-12
												.text-box
													h3 Biudžetas, €
											.col.md-4-12
												input(type="checkbox" id="input-3000" name="iki_3000" value="iki 3,000")
												label(for="input-3000") iki 3,000
											.col.md-4-12
												input(type="checkbox" id="input-7000" name="iki_7000" value="iki 7,000")
												label(for="input-7000") iki 7,000 
											.col.md-4-12
												input(type="checkbox" id="input-10000" name="iki_10000" value="iki 10,000 arba daugiau")
												label(for="input-10000") iki 10,000 arba daugiau
									.form__block.form__block--input
										.row
											.col.xs-12-12
												.text-box
													h3 Bendra informacija										
											.col.md-4-12
												.block__input
													input(type="text" id="input-name" name="vardas")
													label(for="input-name" id="name-label") Vardas 
											.col.md-4-12
												.block__input
													input(type="email" id="input-email" name="pastas")
													label(for="input-email" id="label-email") El. paštas 
											.col.md-4-12
												.block__input
													input(type="tel" id="input-phone" name="telefonas")
													label(for="input-phone" id="label-phone") Telefonas
											.col.md-12-12
												.block__input
													textarea(id="input-message" name="komentaras")
													label(for="input-message") Papildomi komentarai
									.form__block
										.row
											.col.xs-12-12.ta-right
												button#form-submit.btn.btn--primary.btn--inverse.btn--small(type='submit' name="submit") Siųsti užklausą
									//- .text-box
									//- 	h3 Bendra informacija

				//- Bg lines
				include includes/structure/structure_bg-lines

			//- Footer
			include includes/global/global_footer
